* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Akaya Kanadaka";
  background-color: rgb(247, 247, 247);
}

.header {
  background-color: rgb(41, 46, 49);
}
.header .link-hoteldc {
  color: rgb(247, 247, 247);
}
.header .link-hoteldc:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(41, 46, 49);
}

.main .bg-hoteldc {
  background-color: rgb(187, 187, 187);
}
.main .title-hoteldc {
  text-shadow: -2px -3px 0px rgb(147, 147, 147);
  font-size: 2.5rem;
}
.main .subtitle-hoteldc {
  font-size: 2.5rem;
}
.main .reservation-button {
  background-color: rgb(41, 46, 49);
  color: rgb(247, 247, 247);
}
.main .reservation-button:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(41, 46, 49);
}
.main .stand-out {
  color: rgb(38, 32, 66);
  text-shadow: 0px 0px 5px grey;
}
.main .number {
  font-family: Courier;
  font-weight: bold;
  font-style: oblique;
}
.main .card-opinions {
  background: radial-gradient(circle farthest-side at top center, rgb(247, 247, 247) 0%, rgb(41, 46, 49) 180%);
  border: 5px solid gray;
}
.main .opinions-button {
  font-size: 2rem;
  background-color: rgb(41, 46, 49);
  color: rgb(247, 247, 247);
}
.main .opinions-button:hover {
  background-color: rgb(187, 187, 187);
  color: rgb(41, 46, 49);
}
.main .menu-group .card-menu {
  position: relative;
  overflow: hidden;
  border: 5px solid white;
}
.main .menu-group .card-menu .card-menu-text {
  object-fit: cover;
  border-radius: 15px;
  position: absolute;
  bottom: -80%;
  right: 0;
  color: white;
  background-color: rgba(31, 61, 71, 0.3529411765);
  backdrop-filter: blur(3px);
  transition: 3s;
}
.main .menu-group .card-menu .card-menu-text .menu-link a {
  text-decoration: none;
  color: rgb(187, 187, 187);
}
.main .menu-group .card-menu .card-menu-text .menu-link a:hover {
  color: rgb(41, 46, 49);
}
.main .menu-group .card-menu:hover .card-menu-text {
  bottom: 0;
}

@media screen and (min-width: 992px) {
  .main .front-hoteldc {
    height: 75vh;
  }
  .main .title-hoteldc {
    text-shadow: -5px -3px 0px rgb(147, 147, 147);
    font-size: 4rem;
  }
  .main .text-carousel {
    font-size: 4rem;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  }
}
.main .text-front-pages {
  text-shadow: -8px -3px 7px rgb(0, 0, 0);
  color: rgb(247, 247, 247);
  font-size: 4rem;
}
.main .image-front-pages {
  height: 80vh;
}
.main .box-stay {
  border-radius: 22px;
  background: rgb(147, 147, 147);
}
.main .box-stay .image-box-stay {
  width: 100%;
  height: 30vh;
  border-radius: 25px;
}
.main .border-text-stay {
  box-shadow: 0px 0px 245px -24px rgba(99, 93, 93, 0.97) inset;
  -webkit-box-shadow: 0px 0px 245px -24px rgba(99, 93, 93, 0.97) inset;
  -moz-box-shadow: 0px 0px 245px -24px rgba(99, 93, 93, 0.97) inset;
}

.main .list-room {
  padding-left: 10rem;
}
.main .list-room li {
  list-style: square;
}
.main .bg-room, .main .bg-room-light {
  border-radius: 40px;
  background: rgb(202, 203, 203);
  border: 4px dashed grey;
  width: 40rem;
  margin-top: 1rem;
}
.main .bg-room-light {
  background: rgb(247, 247, 247);
}
.main .room {
  width: 50rem;
}
.main .front-room {
  height: 55vh;
  border-radius: 25px;
}
.main .box-room {
  height: 25vh;
  border-radius: 25px;
}

.footer {
  background-color: rgb(41, 46, 49);
  color: rgb(247, 247, 247);
}
.footer .link-footer {
  list-style: none;
}
.footer .link-footer a {
  color: rgb(247, 247, 247);
  text-decoration: none;
}
.footer .link-footer a:hover {
  color: gray;
}
.footer .bg-copy {
  background-color: black;
}/*# sourceMappingURL=estilo.css.map */