* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Akaya Kanadaka";
  background-color: rgb(247, 247, 247);
}

.header {
  background-color: rgb(41, 46, 49);
}
.header .link-hoteldc {
  color: rgb(247, 247, 247);
  padding: 0;
  margin-inline: 10px;
}
.header .link-hoteldc:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(41, 46, 49);
}

.main .bg-hoteldc {
  background-color: rgb(187, 187, 187);
}
.main .title-hoteldc {
  text-shadow: -5px -3px 0px rgb(147, 147, 147);
}
.main .subtitle-hoteldc {
  font-size: 2rem;
}
.main .front-hoteldc {
  height: 80vh;
}
.main .text-carousel {
  font-size: 4rem;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}
.main .reservation-button {
  background-color: rgb(41, 46, 49);
  color: rgb(247, 247, 247);
}
.main .reservation-button:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(41, 46, 49);
}
.main .menu-hoteldc .card-menu-hoteldc {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.main .menu-hoteldc .image-menu {
  height: 30vh;
}
.main .menu-link a {
  text-decoration: none;
  color: rgb(247, 247, 247);
}
.main .menu-link a:hover {
  color: rgb(41, 46, 49);
}
.main .box-stay {
  border-radius: 22px;
  background: rgb(147, 147, 147);
}
.main .box-stay .image-box-stay {
  width: 100%;
  height: 30vh;
  border-radius: 25px;
}
.main .card-opinions {
  border-radius: 40px;
  background: rgb(247, 247, 247);
  background: radial-gradient(circle farthest-side at top center, rgb(247, 247, 247) 0%, rgb(41, 46, 49) 180%);
  background: -webkit-radial-gradient(circle farthest-side at top center, rgb(247, 247, 247) 0%, rgb(41, 46, 49) 180%);
  background: -moz-radial-gradient(circle farthest-side at top center, rgb(247, 247, 247) 0%, rgb(41, 46, 49) 180%);
  border: 1px solid grey;
}
.main .opinions-button {
  font-size: 2rem;
  background-color: rgb(41, 46, 49);
  color: rgb(247, 247, 247);
}
.main .opinions-button:hover {
  background-color: rgb(187, 187, 187);
  color: rgb(41, 46, 49);
}

.main .text-front-pages {
  text-shadow: -8px -3px 7px rgb(0, 0, 0);
  color: rgb(247, 247, 247);
  font-size: 4rem;
}
.main .image-front-pages {
  height: 80vh;
}
.main .box-stay {
  border-radius: 22px;
  background: rgb(147, 147, 147);
}
.main .box-stay .image-box-stay {
  width: 100%;
  height: 30vh;
  border-radius: 25px;
}
.main .border-text-stay {
  box-shadow: 0px 0px 245px -24px rgba(99, 93, 93, 0.97) inset;
  -webkit-box-shadow: 0px 0px 245px -24px rgba(99, 93, 93, 0.97) inset;
  -moz-box-shadow: 0px 0px 245px -24px rgba(99, 93, 93, 0.97) inset;
}

.main .list-room {
  padding-left: 10rem;
}
.main .list-room li {
  list-style: square;
}
.main .bg-room, .main .bg-room-light {
  border-radius: 40px;
  background: rgb(202, 203, 203);
  border: 4px dashed grey;
  width: 40rem;
  margin-top: 1rem;
}
.main .bg-room-light {
  background: rgb(247, 247, 247);
}
.main .room {
  width: 50rem;
}
.main .front-room {
  height: 55vh;
  border-radius: 25px;
}
.main .box-room {
  height: 25vh;
  border-radius: 25px;
}

.footer {
  background-color: rgb(41, 46, 49);
  color: rgb(247, 247, 247);
}
.footer .link-footer {
  list-style: none;
}
.footer .link-footer a {
  color: rgb(247, 247, 247);
  text-decoration: none;
}
.footer .link-footer a:hover {
  color: gray;
}
.footer .bg-copy {
  background-color: black;
}

.main .border-contact {
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  background: rgb(187, 187, 187);
}
.main .border-contact .imput-contact {
  display: block;
  width: 80%;
  padding: 0.35rem 1rem;
  font-size: 1.3rem;
  font-weight: 40;
  background-color: rgba(1, 1, 62, 0.263);
  color: #e9eaeb;
  border: 3px solid grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main .form-check-contact:focus {
  border-color: #03193a;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 4, 10, 0.25);
}
.main .form-check-contact:checked {
  background-color: #000000;
  border-color: #3f4041;
}
.main .check-contact a {
  color: rgb(41, 46, 49);
  text-decoration: none;
}
.main .check-contact a:hover {
  color: rgb(247, 247, 247);
}

@media screen and (min-width: 768px) {
  .main .border-contact {
    width: 40rem;
  }
}
@media screen and (min-width: 992px) {
  .main .text-front-pages {
    text-shadow: -8px -3px 7px rgb(0, 0, 0);
    color: rgb(247, 247, 247);
    font-size: 8rem;
  }
  .main .title-hoteldc {
    text-shadow: -5px -3px 0px rgb(147, 147, 147);
    font-size: 5rem;
  }
  .main .image-front-pages {
    width: 100%;
    height: 80vh;
  }
  .main .border-service {
    margin: 50px;
  }
  .main .gallery {
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 150px;
    grid-template-areas: "img2  img2    img1    img1    img1    img3    img3" "img2  img2    img1    img1    img1    img3    img3" "img4  img4    img1    img1    img1    img5    img5" "img4  img4    img1    img1    img1    img5    img5" "img6  img6    img6    img7    img7    img8    img8" "img6  img6    img6    img7    img7    img8    img8" "img9  img9    img9    img10   img10   img10   img10" "img9  img9    img9    img10   img10   img10   img10";
  }
}/*# sourceMappingURL=estilo.css.map */