.footer{
    @include fondo-color ($color-secundario,$color-principal);
    .link-footer{
        list-style: map-get($map: $estilo, $key: ninguno );
        & a{
            color: $color-principal;
            text-decoration: map-get($map: $estilo, $key: ninguno );
            &:hover{
                color: gray;
            }
        }   
    }
    .bg-copy{
        background-color: black;
    }
}

