.main{
    .image-bg{
        background-image: url(../assets/imagenes/error/error.jpeg);
        .image-error{
            width: 286px;
            height: 335px;
            background-image: url(../assets/imagenes/error/ascensor.png);
            position: absolute;
            top: 2%;
            left: 10%;
            animation: abrir 4s steps(3) infinite;
            }
    
        @keyframes abrir {
            0%{
                background-position: 0px;
            }
            100%{
                background-position: -858px;
            }
        }
        .text-error{
            background-color: rgba(128, 128, 128, 0.41);
        }
        .button-back a{
            text-decoration: map-get($map: $estilo, $key: ninguno );
            color: $color-principal;
            &:hover{
                color: $color-secundario;
            }
            }                   
    }
    
    
}
@media screen and (min-width:992px){
    .main{
        .image-bg{
            .image-error{
                left: 25%;
            }
            .text-error{
                margin-top: 80px;
            }
        }
    
    }

}
@media screen and (min-width:1200px){
    .main{
        .image-bg{
            .image-error{
                left: 58%;
            }
        }
        
}
}