.main{
    .text-front-pages{
        text-shadow: -8px -3px 7px rgba(0,0,0,1);
        color: $color-principal;
        font-size: map-get($map: $tamano-rem, $key: 3 );
    }
    .image-stay{
        background-image: radial-gradient(circle, $color-secundario, $color-alternativo);
    }
    .image-stay-light{
        background-image: radial-gradient(circle,  $color-principal, $color-secundario);
    }
    
}
@media screen and (min-width:992px){
    .main{
        .text-front-pages{
            text-shadow: -8px -3px 7px rgba(0,0,0,1);
            color: $color-principal;
            font-size: map-get($map: $tamano-rem, $key: 6);
        }
    }
    
}
