.main{
    .bg-hoteldc{
        background-color: $color-alternativo;
    }
    .title-hoteldc{
        text-shadow: -2px -3px 0px rgba(147,147,147,1);
        font-size: map-get($map: $tamano-rem, $key: 2-5 );
    }
    .subtitle-hoteldc{
        font-size: map-get($map: $tamano-rem, $key: 2-5 );
    }
    .front-hoteldc{
        height: 40vh;
    }
    .form-w{
        width: 20%;
    }
    .hola{
        width: 25%;
    }
    .form-reservation:focus{
        box-shadow: 0 0 0 0.20rem rgba(20, 20, 21, 0.25);
    }
    .reservation-button{
        @include fondo-color($color-secundario, $color-principal);
        &:hover{
            @include fondo-color($color-principal, $color-secundario);
        }
    }
    .stand-out{
        color: $color-secundario;
        text-shadow: 0px 0px 5px grey;
    }
    .number{
        @include fuente(Courier, bold, oblique);
    }
    .menu-group{
        .card-menu{
            border:  5px solid white;
            cursor: $cursor-manito;
            .card-menu-text{
                bottom: -80%;
                color: white;
                background-color: #1f3d475a;
                backdrop-filter: blur(3px);
                transition: map-get($map: $transicion, $key: 1 );
                .menu-link a{
                    text-decoration: map-get($map: $estilo, $key: ninguno );
                    color: $color-principal;
                    &:hover{
                        color: $color-secundario;
                        transition: none;
                    } 
                }
            }
            &:hover{
                .card-menu-text{
                    bottom: 0;
                }
            }
        }
    }
    .card-opinions{
        background: radial-gradient(circle farthest-side at top center, $color-principal 0%, $color-secundario 180%);
        border: 3px solid gray;
        .opinion{
            font-size: 1rem;
        }
    }
    
}

@media screen and (min-width:992px){
    .main{
        .front-hoteldc{
            height: 75vh;
        }
        .title-hoteldc{
            text-shadow: -5px -3px 0px rgba(147,147,147,1);
            font-size: map-get($map: $tamano-rem, $key: 4 );
        }
        .text-carousel{
            font-size: map-get($map: $tamano-rem, $key: 4 );
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
        }
        .form-w{
            width: 75%;
        }
        .card-opinions{
            .opinion{
                font-size: 1.7rem;
            }
        }
        
        
    }
}