.main{
    .list-room{
        padding-left: map-get($map: $tamano-rem, $key: 10 );
        & li{
            list-style: map-get($map: $estilo, $key: cuadrado );
        }
    }
    .bg-room{
        border-radius: map-get($map: $bordes-radius, $key: 40 );
        border: 4px dashed grey;
        background: $color-alternativo;
    }
    .bg-room-light{
        @extend .bg-room;
        background-color: $color-principal;
        
    }
    .image-room{
        border-radius: map-get($map: $bordes-radius, $key: 25 );
    }
    .box-room{
        border-radius: map-get($map: $bordes-radius, $key: 25 );
    }
}
