$color-principal: rgb(247, 247, 247);
$color-secundario: rgb(41, 46, 49);
$color-alternativo: rgb(187,187,187);
$fuente-principal: "Akaya Kanadaka";
$cursor-manito: pointer;
$estilo:(
    ninguno: none,
    solido: solid,
    punteado: dashed,
    cuadrado: square,
);
$tamano-rem:(
    2: 2rem,
    2-5: 2.5rem,
    3: 3rem,
    4: 4rem,
    6: 6rem,
    10: 10rem,
    40: 40rem,
);
$bordes-radius:(
    22: 22px,
    25: 25px,
    30: 30px,
    40: 40px,
);
$transicion:(
    1: 1s,
    2: 2s,
    3: 3s,
);