$color-principal: rgb(247, 247, 247);
$color-secundario: rgb(41, 46, 49);
$color-alternativo: rgb(187,187,187);
$fuente-principal: "Akaya Kanadaka";

$colores-varios:(
    gris:gray,
    negro: black,
);
$estilo:(
    ninguno: none,
    solido: solid,
    punteado: dashed,
    cuadrado: square,
);
$tamano-rem:(
    2: 2rem,
    3-5: 3.5rem,
    4: 4rem,
    40: 40rem
);
$bordes-radius:(
    22: 22px,
    25: 25px,
    30: 30px,
    40: 40px,
);