@import "variables.scss";
@import "mixin.scss";
@import "reset.scss";
@import "header.scss";
@import "main-index.scss";
@import "main-estadia.scss";
@import "main-habitaciones.scss";
@import "footer.scss";


.main{
    .border-contact{
        border-radius: 30px 30px 30px 30px;
        -webkit-border-radius: 30px 30px 30px 30px;
        -moz-border-radius: 30px 30px 30px 30px;
        background: rgb(187,187,187);
        .imput-contact{
            display: block;
            width: 80%;
            padding: 0.35rem 1rem;
            font-size: 1.3rem;
            font-weight: 40;
            background-color: rgba(1, 1, 62, 0.263);
            color: #e9eaeb;
            border: 3px solid grey;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;     
        }
    }
    
    .form-check-contact:focus {
        border-color: #03193a;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(0, 4, 10, 0.25);
    }
    .form-check-contact:checked {
        background-color: #000000;
        border-color: #3f4041;
    }
    .check-contact a{
        color: rgb(41, 46, 49);
        text-decoration: none;
    }
    .check-contact a:hover{
        color: rgb(247, 247, 247);
    }
}    

@media screen and (min-width:768px){
    .main{
        .border-contact{
            width: 40rem;
    }

    }
    
}
@media screen and (min-width:992px){
    .main{
        .text-front-pages{
            text-shadow: -8px -3px 7px rgba(0,0,0,1);
            color: rgb(247, 247, 247);
            font-size: 8rem;
        }
        .title-hoteldc{
            text-shadow: -5px -3px 0px rgba(147,147,147,1);
            font-size: 5rem;
        }
        .image-front-pages{
            width: 100%;
            height: 80vh;
        }
        .border-service{
            margin: 50px;
        }
        .gallery{
            grid-template-columns: repeat(7,1fr);
            grid-auto-rows: 150px;
            grid-template-areas: "img2  img2    img1    img1    img1    img3    img3"
                                 "img2  img2    img1    img1    img1    img3    img3"
                                 "img4  img4    img1    img1    img1    img5    img5"
                                 "img4  img4    img1    img1    img1    img5    img5"
                                 "img6  img6    img6    img7    img7    img8    img8"
                                 "img6  img6    img6    img7    img7    img8    img8"
                                 "img9  img9    img9    img10   img10   img10   img10"
                                 "img9  img9    img9    img10   img10   img10   img10";
        }
        
    }
}